<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.demo1">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".UnoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/card_back_alt"
        android:label="Uno"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity" />
        <activity android:name=".LobbyActivity" />
        <activity android:name=".MultiplayerActivity" />
        <activity android:name=".HubActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LeaderboardActivity" />
        <activity
            android:name=".selectLobbyActivity"
            android:label="@string/title_activity_select_lobby"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".CreditsActivity" />
    </application>

</manifest>